<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.mapper.CartMapper">
	
	<select id="select" parameterType="String" resultType="CartDTO">
		SELECT * FROM cart WHERE custid = #{custid}
	</select>
	
	<select id="selectAll" resultType="cartDTO">
		SELECT * FROM cart
	</select>
	 
	<insert id="insert" parameterType="cartDTO">
		INSERT INTO cart(custid, itemid, cnt, color, size, date) VALUES (#{custid},#{itemid},#{cnt},#{color},#{size}, NOW())
	</insert>
	
	
	<update id="update" parameterType="cartDTO">
		UPDATE cart SET custid=#{custid}, itemid=#{itemid}, cnt=#{cnt}, date=NOW()
		WHERE cartid=#{cartid}
	</update> 
	
	
	<delete id="delete" parameterType="Integer">
		DELETE FROM cart WHERE cartid=#{cartid}
	</delete>
	
	<delete id="deleteall">
		DELETE FROM cart
	</delete> 
	
	<select id="viewCart" parameterType="String" resultType="CartDTO">
		SELECT c.cartid, c.custid, i.itemid,i.image1, i.name , i.price, c.cnt , c.date , (i.price * c.cnt) AS prod_totalprice, c.color, c.size FROM item i
		INNER JOIN cart c ON i.itemid=c.itemid
		INNER JOIN cust cu ON cu.custid = c.custid
		WHERE cu.custid = #{custid}
	</select>
	
	
	
</mapper>
