<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.mapper.CustMapper">
	
	<select id="select" parameterType="Integer" resultType="custDTO">
		SELECT cu.custid, cu.tierid, cu.pwd, cu.name, cu.gender, cu.addr, cu.phone, cu.email, cu.rdate, cu.acc_amount, cu.birth, ti.tier AS tier_tier
		FROM cust cu
		INNER JOIN tier ti ON cu.tierid = ti.tierid
		WHERE custid=#{custid}
	</select>
	
	
	<select id="selectAll" resultType="custDTO">
		SELECT * FROM cust
	</select>
	
	 
	
	 
	<insert id="insert" parameterType="custDTO">
		INSERT INTO cust 
		VALUES (#{custid}, #{tierid}, #{pwd}, #{name}, #{gender}, #{addr}, #{phone}, #{email},NOW(), #{acc_amount}, #{birth})
	</insert>  
	
	
	
	
	
	<update id="update" parameterType="custDTO">
		UPDATE cust SET custid=#{custid}, tierid=#{tierid}, pwd=#{pwd},name=#{name},gender=#{gender},addr=#{addr},
		phone=#{phone},email=#{email}, rdate=NOW(), acc_amount=#{acc_amount}, birth=#{birth}
		WHERE custid=#{custid}
	</update>  
	
	
	
	
	<delete id="delete" parameterType="Integer">
		DELETE FROM cust WHERE custid=#{custid}
	</delete>  
	
</mapper>