<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.mapper.LikedMapper">
	
  	<select id="select" parameterType="Integer" resultType="LikedDTO">
		SELECT l.likedid, l.custid, l.itemid, i.name AS item2_name FROM liked l
		INNER JOIN item2 i ON l.itemid = i.itemid
		WHERE l.likedid = #{likedid}
	</select>
	
	<select id="selectAll" resultType="LikedDTO">
		SELECT * FROM liked
	</select>

 	<insert id="insert" parameterType="LikedDTO">
		INSERT INTO liked VALUES (NULL, #{custid}, #{itemid})
	</insert>
	
	<update id="update" parameterType="LikedDTO">
		UPDATE liked SET itemid = #{itemid} WHERE likedid = #{likedid}
	</update> 
	
	<delete id="delete" parameterType="Integer">
		DELETE FROM liked WHERE likedid=#{likedid}
	</delete>
	
	<select id="viewLikedCustid" parameterType="Integer" resultType="LikedDTO">
		SELECT l.custid, i.name AS item2_name, i.price AS item2_price FROM liked l
		INNER JOIN item2 i ON l.itemid = i.itemid
		WHERE l.custid = #{custid}
	</select>
	
	<select id="viewLikedItemid" parameterType="Integer" resultType="LikedDTO">
		SELECT l.itemid, l.custid, i.name AS item2_name, i.price AS item2_price FROM liked l
		INNER JOIN item2 i ON l.itemid = i.itemid
		WHERE l.itemid = #{itemid}
	</select>
	
</mapper>
