<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.mapper.PurchaseMapper">
	
	<select id="select" parameterType="Integer" resultType="PurchaseDTO">
		SELECT * FROM purchase
		where orderid=#{orderid};
	</select>
	<select id="selectAll" parameterType="PurchaseDTO" resultType="PurchaseDTO">
		SELECT * FROM purchase
	</select>
 	<insert id="insert" parameterType="PurchaseDTO">
		INSERT INTO purchase VALUES (NULL,#{custid},#{addr},#{pay},#{totalprice},#{receiver},#{receiver_phone},#{totalcnt},NOW())
	</insert>
	<update id="update" parameterType="PurchaseDTO">
		UPDATE purchase SET addr=#{addr},pay=#{pay},totalprice=#{totalprice},receiver=#{receiver},receiver_phone=#{receiver_phone},totalcnt=#{totalcnt},order_date=NOW() WHERE orderid=#{orderid}
	</update>
	<delete id="delete" parameterType="Integer">
		DELETE FROM purchase WHERE orderid=#{orderid}
	</delete>
	<select id="viewPurchase" parameterType="Integer" resultType="PurchaseDTO">
		select  distinct(pc.orderid) , pc.custid , pc.addr , pc.pay , pc.totalprice , pc.receiver , pc.receiver_phone , pc.totalcnt , pc.order_date , d.delstate , c.phone as cust_phone, prod.name as item_name from purchase pc
		inner join delivery d on d.orderid=pc.orderid
		inner join cust c on c.custid=pc.custid
		inner join (
		select i.name , od.orderid from order_detail od
		inner join item2 i on i.itemid=od.itemid
		) prod on prod.orderid=pc.orderid
		where pc.custid=#{custid}
	</select>	 
</mapper>
