<!DOCTYPE html>
<html lang="en">
<head>
<title>Contact</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Wish shop project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" th:href="@{styles/bootstrap4/bootstrap.min.css}">
<link th:href="@{plugins/font-awesome-4.7.0/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" th:href="@{styles/contact.css}">
<link rel="stylesheet" type="text/css" th:href="@{styles/contact_responsive.css}">
<script th:src="@{/js/jquery-3.2.1.min.js}"></script>

 <!-- kakao map -->
 <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f4363fcc8b7b65aa79629e4cb5604c80"></script>
 <!-- kakao map -->
 
<script>
var map;
var lat=37.5034762;
var lng=127.0497511;

function display(){
	var mapContainer=document.querySelector('#map');
	var mapOption = {
		center: new kakao.maps.LatLng(lat,lng), // 지도의 중심좌표
    	level: 4 // 지도의 확대 레벨
    }
	map = new kakao.maps.Map(mapContainer, mapOption); 
	
};

function displaymarker(){
	 var marker = new kakao.maps.Marker({
	        map: map, // 마커를 표시할 지도
	        position: new kakao.maps.LatLng(lat,lng) // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
	        //image : markerImage // 마커 이미지 
	    });
//	 var iwContent = '<h3>'+data[i].title+'</h3>';
//	 iwContent+='<img width="50px" src="/img/'+data[i].img+'">';
//	 var iwPosition = new kakao.maps.LatLng(lat,lng); //인포윈도우 표시 위치입니다

		// 인포윈도우를 생성합니다
	var infowindow = new kakao.maps.InfoWindow({
    	position : iwPosition, 
    	//content : iwContent 
	});
	//kakao.maps.event.addListener(marker, 'mouseover',mouseoverListener(marker,infowindow));
	// 마커에 마우스아웃 이벤트를 등록합니다
	//kakao.maps.event.addListener(marker, 'mouseout',mouseoutListener(marker,infowindow)); 
	//kakao.maps.event.addListener(marker, 'click', mouseclickListener(data[i].target));
	
	function mouseoverListener(marker,infowindow) {
		return function(){
			infowindow.open(map, marker);
		}
	};
	function mouseoutListener(marker,infowindow) {
		return function(){
		    infowindow.close();
		}
	};
	function mouseclickListener(target) {
		return function(){
			location.href=target;
		}
	};
	
};


$(document).ready(function(){
	display();
	displaymarker();
});
</script>

</head>
<body>

<div class="super_container">

	<!-- Google Map -->
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	<div class="map">
		<div id="google_map" class="google_map">
			<div class="map_container">
				<div id="map"></div>
			</div>
		</div>
	</div>
	
	

	<!-- Contact Text -->

	<div class="contact_text">
		<div class="container">
			<div class="row">

				<!-- Contact Info -->
				<div class="col-lg-5">

					<div class="contact_info">
						<div class="contact_title">contact info</div>
						<div class="contact_info_content">
							<ul>
								<li>
									<div class="contact_info_icon"><img th:src="@{images/contact_info_1.png}" alt=""></div>
									<div class="contact_info_text">212, Teheran-ro, Gangnam-gu, Seoul, Republic of Korea</div>
								</li>
								<li>
									<div class="contact_info_icon"><img th:src="@{images/contact_info_2.png}" alt=""></div>
									<div class="contact_info_text">627km</div>
								</li>
								<li>
									<div class="contact_info_icon"><img th:src="@{images/contact_info_3.png}" alt=""></div>
									<div class="contact_info_text">+82 3953 8163</div>
								</li>
							</ul>
						</div>
						
					</div>
				</div>

				<!-- FAQ -->
				<div class="col-lg-7">
					<div class="faq">
						<div class="contact_title">faq</div>
						<div class="faq_content">

							<!-- Accordions -->
							<div class="accordions">

								<div class="accordion_container">
									<div class="accordion d-flex flex-row align-items-center"><div>Lorem ipsum dolor sit amet, consectetur?</div></div>
									<div class="accordion_panel">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis quam ipsum. Pellentesque consequat tellus non tortor tempus, id egestas elit iaculis. Proin eu dui porta, pretium metus vitae, pharetra odio. Sed ac mi commodo, pellentesque erat eget, accumsan justo.</p>
									</div>
								</div>

								<div class="accordion_container">
									<div class="accordion d-flex flex-row align-items-center"><div>Ipsum dolor sit amet, consectetur?</div></div>
									<div class="accordion_panel">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis quam ipsum. Pellentesque consequat tellus non tortor tempus, id egestas elit iaculis. Proin eu dui porta, pretium metus vitae, pharetra odio. Sed ac mi commodo, pellentesque erat eget, accumsan justo.</p>
									</div>
								</div>

								<div class="accordion_container">
									<div class="accordion d-flex flex-row align-items-center active"><div>Proin eu dui porta, pretium metus vitae?</div></div>
									<div class="accordion_panel">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis quam ipsum. Pellentesque consequat tellus non tortor tempus, id egestas elit iaculis. Proin eu dui porta, pretium metus vitae, pharetra odio. Sed ac mi commodo, pellentesque erat eget, accumsan justo.</p>
									</div>
								</div>

							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

<script th:src="@{/styles/bootstrap4/popper.js}"></script>
<script th:src="@{/styles/bootstrap4/bootstrap.min.js}"></script>
<script th:src="@{/plugins/easing/easing.js}"></script>
<script th:src="@{/plugins/parallax-js-master/parallax.min.js}"></script>
<script src="/https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCIwF204lFZg1y4kPSIhKaHEXMLYxxuMhA"></script>
<script th:src="@{/js/contact_custom.js}"></script>
</body>
</html>