<!DOCTYPE html>

<head>
<title>Contact</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Wish shop project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="styles/bootstrap4/bootstrap.min.css">
<link href="plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="styles/contact.css">
<link rel="stylesheet" type="text/css" href="styles/contact_responsive.css">

<style>
	#mypage_title{
		color: black;
	}
	#mypage_title2{
		color: black;
	}
	#mypage_info{
		background: white;
		padding-top: 0;
	}
	#mypage_label{
		margin-bottom: 0;
		font-size: 20px;
	}
	#mypage_div{
		display: inline-block;
		text-align: center;
		
	}
	#mypage_info > form > button > a{
		text-decoration: none;
	}
</style>

<script>
$(document).ready(function(){
	$('#custupdate_btn').click(function(){
		var c = confirm('수정하시겠습니까?');
		if(c == true){
			$('#custupdate_form').attr({
				'method':'post',
				'action':'/custupdateimpl'
			});
			$('#custupdate_form').submit();
		}
	});
});


</script>
</head>


<div class="super_container">
	
	<!-- Header -->

	<!-- Menu -->

	<!-- Home -->

	
		<div class="home_background parallax-window" data-parallax="scroll" data-speed="0.8"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="home_container">
						<div class="home_content">
							<div id="mypage_title" class="home_title">MY PAGE</div>
							<div class="breadcrumbs">
								<ul>
									<li id="mypage_title2">Information</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	

	<!-- Contact Form -->

	<div id="mypage_info" class="contact">
		<div class="container">
			<div class="col-sm-8">
			<form id="custupdate_form" class="form-horizontal">
			  <div class="form-group">
			    <label class="control-label col-sm-2" for="id">ID:</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" id="id" th:value="${custdetail2.custid}" readonly="readonly" name="custid" style="color: black">
			    </div>
			  </div>
			   <div class="form-group">
			   <label class="control-label col-sm-2" for="tier"></label>
			    <div class="col-sm-10">
			      <input type="hidden" class="form-control" id="tier" th:value="${custdetail2.tierid}" readonly="readonly" name="tierid">
			    </div> 
			  </div>  
			  <div class="form-group">
			    <label class="control-label col-sm-2" for="pwd">Password:</label>
			    <div class="col-sm-10">
			      <input type="password" class="form-control" id="pwd" th:value="${custdetail2.pwd}" placeholder="Enter Password" required="required" name="pwd" style="color: black">
			    </div>
			  </div>
			  <div class="form-group">
			    <label class="control-label col-sm-2" for="pwd2">Password Check:</label>
			    <div class="col-sm-10">
			      <input type="password" class="form-control" id="pwd2" th:value="${custdetail2.pwd}" placeholder="Check password" required="required" style="color: black">
			    </div>
			  </div>
			  <div class="form-group">
			    <label class="control-label col-sm-2" for="name" required="required">Name:</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" id="name" th:value="${custdetail2.name}" placeholder="Enter Name" required="required" name="name" style="color: black">
			    </div>
			  </div><br>
			  
			  
			  
			  <div class="form-group">
				<label class="control-label col-sm-2" for="gender" required="required">Gender:</label><br>
				&nbsp;&nbsp;&nbsp;&nbsp;Male&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="gender" value="남">
				&nbsp;&nbsp;&nbsp;&nbsp;Female&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="gender" value="여">
			  </div><br>
			  
			  <div class="form-group">
			    <label class="control-label col-sm-2" for="birth" required="required">Birth:</label>
			    <div class="col-sm-10">
			      <input type="date" class="form-control" id="birth" th:value="${custdetail2.birth}" name="birth" style="color: black">
			    </div>
			  </div>
			 <div class="form-group">
			    <label class="control-label col-sm-2" for="postno" required="required">Post No.:</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" id="postno" th:value="${custdetail2.postno}" placeholder="Enter Post No."  required="required" name="postno" style="color: black">
			    </div>
			  </div>
			 <div class="form-group">
			    <div class="col-sm-10">
			    <label class="control-label col-sm-2" for="addr" required="required">Address:</label><br>
			      <input type="text" class="form-control" id="addr" th:value="${custdetail2.addr}" placeholder="Enter Address"  required="required" name="addr" style="color: black">
			    </div>
			  </div>
			  <div class="form-group">
			    <label class="control-label col-sm-2" for="phone" required="required">P.H:</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" id="phone" th:value="${custdetail2.phone}" placeholder="Enter Phone Number"  required="required" name="phone" style="color: black">
			    </div>
			  </div>
			  <div class="form-group">
			    <label class="control-label col-sm-2" for="eamil" required="required">Email:</label>
			    <div class="col-sm-10">
			      <input type="email" class="form-control" id="email" th:value="${custdetail2.email}" required="required" name="email" style="color: black">
			    </div>
			  </div>
			  <div class="form-group">
			    <label class="control-label col-sm-2" for="acc_amount" required="required">Accumulated Amount:</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" id="acc_amount" th:value="${custdetail2.acc_amount}" required="required" name="acc_amount" style="color: black">
			    </div>
			  </div>
				<!-- <div class="form-group">
			    <label class="control-label col-sm-2" for="rdate" required="required">Register Date:</label>
			    <div class="col-sm-10">
			      <input type=text class="form-control" id="rdate" th:value="${custdetail2.rdate}" readonly="readonly" name="rdate" style="color: black">
			    </div>
			  </div>  -->
			</form>
			<a href="#"><button id="custupdate_btn" class="review_form_button">수정하기</button></a>
			
		</div>
		</div>
	</div>
	
	

	<!-- Contact Text -->

	<div class="contact_text">
		<div class="container">
			<div class="row">

				<!-- Contact Info -->
				<div class="col-lg-5">

					<div class="contact_info">
						<div class="contact_title">contact info</div>
						<div class="contact_info_content">
							<ul>
								<li>
									<div class="contact_info_icon"><img src="images/contact_info_1.png" alt=""></div>
									<div class="contact_info_text">428, Seolleung-ro, Gangnam-gu, Seoul, Korea</div>
								</li>
								<li>
									<div class="contact_info_icon"><img src="images/contact_info_2.png" alt=""></div>
									<div class="contact_info_text">bjb@multicampus.com</div>
								</li>
								<li>
									<div class="contact_info_icon"><img src="images/contact_info_3.png" alt=""></div>
									<div class="contact_info_text">+82 2612 0000</div>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<!-- FAQ -->
				<div class="col-lg-7">
					<div class="faq">
						<div class="contact_title">faq</div>
						<div class="faq_content">

							<!-- Accordions -->
							<div class="accordions">

								<div class="accordion_container">
									<div class="accordion d-flex flex-row align-items-center"><div>Lorem ipsum dolor sit amet, consectetur?</div></div>
									<div class="accordion_panel">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis quam ipsum. Pellentesque consequat tellus non tortor tempus, id egestas elit iaculis. Proin eu dui porta, pretium metus vitae, pharetra odio. Sed ac mi commodo, pellentesque erat eget, accumsan justo.</p>
									</div>
								</div>

								<div class="accordion_container">
									<div class="accordion d-flex flex-row align-items-center"><div>Ipsum dolor sit amet, consectetur?</div></div>
									<div class="accordion_panel">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis quam ipsum. Pellentesque consequat tellus non tortor tempus, id egestas elit iaculis. Proin eu dui porta, pretium metus vitae, pharetra odio. Sed ac mi commodo, pellentesque erat eget, accumsan justo.</p>
									</div>
								</div>

								<div class="accordion_container">
									<div class="accordion d-flex flex-row align-items-center active"><div>Proin eu dui porta, pretium metus vitae?</div></div>
									<div class="accordion_panel">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis quam ipsum. Pellentesque consequat tellus non tortor tempus, id egestas elit iaculis. Proin eu dui porta, pretium metus vitae, pharetra odio. Sed ac mi commodo, pellentesque erat eget, accumsan justo.</p>
									</div>
								</div>

							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
