<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Wish shop project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="styles/bootstrap4/bootstrap.min.css">
<link href="plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="styles/cart.css">
<link rel="stylesheet" type="text/css" href="styles/cart_responsive.css">

</head>
<style>
.cart_product_remove>img{
	width:25px;
	height:25px;
}
</style>

<body>
<div class="super_container">
	<!-- Cart -->

	<div class="cart_container">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="cart_title"><br><br>Liked</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="cart_bar d-flex flex-row align-items-center justify-content-start">
						<div class="cart_bar_title_name">Product</div>
						<div class="cart_bar_title_content ml-auto">
							<div class="cart_bar_title_content_inner d-flex flex-row align-items-center justify-content-end">
								<div class="cart_bar_title_price">Price</div>
								<div class="cart_bar_title_button"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="cart_products">
						<ul th:each="obj:${obj}">
							<li class=" cart_product d-flex flex-md-row flex-column align-items-md-center align-items-start justify-content-start">
								<!-- Product Image -->
								<div class="cart_product_image"><img th:src="@{/images/}+${obj.image1}+'.jpg'" style="width:150px;"></div>
								<!-- Product Name -->
								<div class="cart_product_name" th:text="${obj.name}" ><a href="product.html"></a></div>
								<div class="cart_product_info ml-auto">
									<div class="cart_product_info_inner d-flex flex-row align-items-center justify-content-md-end justify-content-start">
										<!-- Product Price -->
										<div class="cart_product_price" th:text="${obj.price}"></div>
										<!-- Product Cart Trash Button -->
										<div class="cart_product_button">
											<button class="cart_product_remove" th:onclick="del([[${obj.likedid}]]);"> <img th:src="@{images/heart.png}" id="likedimg"></button>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="cart_control_bar d-flex flex-md-row flex-column align-items-start justify-content-start">
						<button class="button_clear cart_button" id="clear_cart_button" th:onclick="delall([[${obj2.likedid}]]);">clear liked</button>
						<a th:href="@{/outer(cateid=11)}" ><button class="button_update cart_button_2 ml-md-auto" id="continue_shopping_button" >continue shopping</button></a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Newsletter -->

	<div class="newsletter">
		<div class="newsletter_content">
			<div class="newsletter_image parallax-window" data-parallax="scroll" data-image-src="images/cart_nl.jpg" data-speed="0.8"></div>
			<div class="container">
				<div class="row options">

					<!-- Options Item -->
					<div class="col-lg-3">
						<div class="options_item d-flex flex-row align-items-center justify-content-start">
							<div class="option_image"><img th:src="@{images/option_1.png}" alt=""></div>
							<div class="option_content">
								<div class="option_title">No Returns</div>
								<div class="option_subtitle">No questions asked</div>
							</div>
						</div>
					</div>

					<!-- Options Item -->
					<div class="col-lg-3">
						<div class="options_item d-flex flex-row align-items-center justify-content-start">
							<div class="option_image"><img th:src="@{images/option_2.png}" alt=""></div>
							<div class="option_content">
								<div class="option_title">Free Delivery</div>
								<div class="option_subtitle">On all orders</div>
							</div>
						</div>
					</div>

					<!-- Options Item -->
					<div class="col-lg-3">
						<div class="options_item d-flex flex-row align-items-center justify-content-start">
							<div class="option_image"><img th:src="@{images/option_3.png}" alt=""></div>
							<div class="option_content">
								<div class="option_title">Secure Payments</div>
								<div class="option_subtitle">No need to worry</div>
							</div>
						</div>
					</div>

					<!-- Options Item -->
					<div class="col-lg-3">
						<div class="options_item d-flex flex-row align-items-center justify-content-start">
							<div class="option_image"><img th:src="@{images/option_4.png}" alt=""></div>
							<div class="option_content">
								<div class="option_title">24/7 Support</div>
								<div class="option_subtitle">Just call us</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

</div>


<!--  script start -->
<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/styles/bootstrap4/popper.js}"></script>
<script th:src="@{/styles/bootstrap4/bootstrap.min.js}"></script>
<script th:src="@{/plugins/easing/easing.js}"></script>
<script th:src="@{/plugins/parallax-js-master/parallax.min.js}"></script>
<script th:src="@{/js/cart_custom.js}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script>
$("#cart_total_button").click(function(){
	alert("d");
});

function del(id){
	var c =confirm('삭제하시겠습니까?');
	var cust_id = '[[${session.logincust.custid}]]';
	if(c==true){
		location.href='[[@{/deleteliked?id=}]]'+id+'[[@{&cust_id=}]]'+cust_id;
	}
}

function delall(id){
	var c =confirm('삭제하시겠습니까?');
	var cust_id = '[[${session.logincust.custid}]]';
	if(c==true){
		location.href='[[@{/deletelikedall?id=}]]'+id+'[[@{&cust_id=}]]'+cust_id;
	}
}
$(document).ready(function(){
	
});
</script>
<!--  script end -->
</body>
</html>