<!DOCTYPE html>
<head>
<title>LOGIN</title>
<meta charset="utf-8" xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Wish shop project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" th:href="@{styles/bootstrap4/bootstrap.min.css}">
<link th:href="@{plugins/font-awesome-4.7.0/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" th:href="@{styles/contact.css}">
<link rel="stylesheet" type="text/css" th:href="@{styles/contact_responsive.css}">

<link rel="stylesheet" th:href="@{./bootstrapt/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{./bootstrapt/css/bootstrap.css}" />
<script th:src="@{./bootstrapt/js/bootstrap.min.js}"></script>

<style>
   #login_title{
      color: black;
   }

</style>

<script >


function modal(){
	$('#testModal').modal();
};

$(document).ready(function(){

	var status = "[[${status}]]";
	
	if(status=="0"){
		modal();
	}
	
	$('#login_btn').click(function(){
		 $('#login_form').attr(
			{
				'action':'[[@{/loginimpl}]]',
				'method':'post'
			}		 
		);	
		$('#login_form').submit();
		
		
	});

});
</script>
</head>



<div class="super_container">
   <div class="container">
         <div class="row">
            <div class="col">
               <div class="home_container">
                  <div class="home_content">
                     <div id="login_title" class="home_title" >Login</div>
                     <div class="breadcrumbs">

                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
     <!-- 모달 -->
     
	<div class="modal fade" id="testModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button class="close" type="button" data-dismiss="modal" aria-label="Close">

					</button>

				</div>
				<div class="modal-body">ID또는비밀번호가 일치하지않습니다. 다시 시도해주세요.</div>
				<div class="modal-footer">
					<button class="btn" type="button" data-dismiss="modal">확인</button>
				</div>
			</div>
		</div>
	</div>
	
   <!-- Contact Form -->
<div class="container" style="margin:auto; text-align:center;">
<div class="col-sm-15"> 
  <form id= "login_form" style="display:inline-block;">
  
    <div class="form-group">
      <label for=" id">ID:</label>
      <input type="text" class="form-control" id="id" placeholder="Enter id" name="id">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd" style="color: black">
    </div>
    <button class="review_form_button" id="login_btn">LOGIN</button> 
  </form>
  <br>
  <br>
    <button class="review_form_button"> <a th:href="@{/register}" onclick="location.hrer='register.html'" id="register_btn" style="color: white">REGISTER</a></button> 

  </div>
  </div>


</div>