
<!-- Home -->

	<div class="home">
		
		<!-- Home Slider -->

		<div class="home_slider_container">
			<div class="owl-carousel owl-theme home_slider">
				
				<!-- Home Slider Item -->
				<div class="owl-item">
					<div class="home_slider_background" style="background-image:url(/images/main_slider1.jpg)"></div>
					<div class="home_slider_content">
					</div>
				</div>

				<!-- Home Slider Item -->
				<div class="owl-item">
					<div class="home_slider_background" style="background-image:url(/images/main_slider2.jpg)"></div>
					<div class="home_slider_content">
					</div>
				</div>

				<!-- Home Slider Item -->
				<div class="owl-item">
					<div class="home_slider_background" style="background-image:url(/images/main_slider3.jpg)"></div>
					<div class="home_slider_content">
					</div>
				</div>

			</div>
			
			<!-- Home Slider Nav -->

			<div class="home_slider_next d-flex flex-column align-items-center justify-content-center"><img src="/images/arrow_r.png" alt=""></div>

			<!-- Home Slider Dots -->

			<div class="home_slider_dots_container">
				<div class="container">
					<div class="row">
						<div class="col">
							<div class="home_slider_dots">
								<ul id="home_slider_custom_dots" class="home_slider_custom_dots">
									<li class="home_slider_custom_dot active">01.<div></div></li>
									<li class="home_slider_custom_dot">02.<div></div></li>
									<li class="home_slider_custom_dot">03.<div></div></li>
								</ul>
							</div>
						</div>
					</div>
				</div>		
			</div>
		</div>
	</div>

	<!-- New Arrivals -->

	<div class="arrivals">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title_container text-center">
						<div class="section_subtitle">only the best</div>
						<div class="section_title">new arrivals</div>
					</div>
				</div>
			</div>
			<div class="row products_container">

				<!-- Product -->
				<div class="col-lg-4 product_col">
					<div class="product">
						<div class="product_image">
							<a th:href = "@{/itemdetail(itemid=${obj1.itemid})}"><img th:src="@{'/images/'}+${obj1.image1} + '.jpg'" alt=""></a>
						</div>
						<div class="rating rating_4">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
						</div>
						<div class="product_content clearfix">
							<div class="product_info">
								<div class="product_name" th:text="${obj1.name}"></div>
								<div class="product_price" th:text="${obj1.price}"></div>
							</div>
							<div class="product_options">
								<div class="product_buy product_option"><img th:src="@{/images/shopping-bag-white.svg}" alt=""></div>
								<div class="product_fav product_option">+</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Product -->
				<div class="col-lg-4 product_col">
					<div class="product">
						<div class="product_image">
							<a th:href="@{/itemdetail(itemid=${obj2.itemid})}"><img th:src="@{'/images/'}+${obj2.image1} + '.jpg'" alt=""></a>
						</div>
						<div class="rating rating_4">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
						</div>
						<div class="product_content clearfix">
							<div class="product_info">
								<div class="product_name" th:text="${obj2.name}"></div>
								<div class="product_price" th:text="${obj2.price}"></div>
							</div>
							<div class="product_options">
								<div class="product_buy product_option"><img th:src="@{/images/shopping-bag-white.svg}" alt=""></div>
								<div class="product_fav product_option">+</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Product -->
				<div class="col-lg-4 product_col">
					<div class="product">
						<div class="product_image">
							<a th:href="@{/itemdetail(itemid=${obj3.itemid})}"><img th:src="@{'/images/'}+${obj3.image1} + '.jpg'" alt=""></a>
						</div>
						<div class="rating rating_4">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
						</div>
						<div class="product_content clearfix">
							<div class="product_info">
								<div class="product_name" th:text="${obj3.name}"></div>
								<div class="product_price" th:text="${obj3.price}"></div>
							</div>
							<div class="product_options">
								<div class="product_buy product_option"><img th:src="@{/images/shopping-bag-white.svg}" alt=""></div>
								<div class="product_fav product_option">+</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- Gallery -->

	<div class="gallery">
		<div class="gallery_image" style="background-image:url(/images/galleryy.jpg)"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="gallery_title text-center">
						<ul id="aaa">
							<li><a href="#">#BJB</a></li>
							<li><a href="#">#bjbinstagram</a></li>
							<li><a href="#">#ootd</a></li>
						</ul>
					</div>
					<div class="gallery_text text-center">*Integer ut imperdiet erat. Quisque ultricies lectus tellus, eu tristique magna pharetra.</div>
					<!-- <div class="button gallery_button"><a href="#">submit</a></div> -->
				</div>
			</div>
		</div>	
		<div class="gallery_slider_container">
			
			<!-- Gallery Slider -->
			<div class="owl-carousel owl-theme gallery_slider">
				
				<!-- Gallery Item -->
				<div class="owl-item gallery_item">
					<a th:href="@{/itemdetail(itemid=${list0.itemid})}">
						<img th:src="@{'/images/'}+${list0.image1}+'.jpg'" alt="">
					</a>
				</div>

				<!-- Gallery Item -->
				<div class="owl-item gallery_item">
					<a th:href="@{/itemdetail(itemid=${list1.itemid})}">
						<img th:src="@{'/images/'}+${list1.image1}+'.jpg'" alt="">
					</a>
				</div>

				<!-- Gallery Item -->
				<div class="owl-item gallery_item">
					<a th:href="@{/itemdetail(itemid=${list2.itemid})}">
						<img th:src="@{'/images/'}+${list2.image1}+'.jpg'" alt="">
					</a>
				</div>

				<!-- Gallery Item -->
				<div class="owl-item gallery_item">
					<a th:href="@{/itemdetail(itemid=${list3.itemid})}">
						<img th:src="@{'/images/'}+${list3.image1}+'.jpg'" alt="">
					</a>
				</div>

				<!-- Gallery Item -->
				<div class="owl-item gallery_item">
					<a th:href="@{/itemdetail(itemid=${list4.itemid})}">
						<img th:src="@{'/images/'}+${list4.image1}+'.jpg'" alt="">
					</a>
				</div>

				<!-- Gallery Item -->
				<div class="owl-item gallery_item">
					<a th:href="@{/itemdetail(itemid=${list5.itemid})}">
						<img th:src="@{'/images/'}+${list5.image1}+'.jpg'" alt="">
					</a>
				</div>

			</div>
		</div>	
	</div>

