<meta charset="UTF-8">

<script>

function display(data){
	$('#result').text(data);
};


function getdata(){
	$.ajax({
		url:'/gettime',
		success:function(result){
			display(result);
		},
		error:function(){
			$('#reuslt').text('error');
		}
	});
};

$(document).ready(function(){
	getdata();

	var si = setInterval(() => {
		getdata();
	}, 5000);

	setTimeout(() => {
		clearInterval(si);
	}, 100000);
});

</script>

<h1 th:text="#{home_main('hi','kim')}">main center</h1>
<h2 th:text="#{tel}"></h2>
<h3 id="result"></h3>
