<!DOCTYPE html>
<style>
	.sidebar_section_content>ul>li{
		font-weight:bolder;
	}
</style>


<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Wish shop project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" th:href="@{/styles/bootstrap4/bootstrap.min.css}">
<link th:href="@{/plugins/font-awesome-4.7.0/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
<link th:href="@{/plugins/malihu-custom-scrollbar/jquery.mCustomScrollbar.css}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" th:href="@{/plugins/jquery-ui-1.12.1.custom/jquery-ui.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/categories.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/categories_responsive.css}">
<script>
$("#test").click(function(){
});
</script>
</head>



	<!-- Menu -->

	<!-- Home -->

	<!-- Products -->

	<div class="products">
		<div class="container">
			<div class="row">
				<div class="col-12">
					
					<!-- Sidebar Left -->

					<div class="sidebar_left clearfix">
						<!-- Categories -->
						<div class="sidebar_section">
							<div class="sidebar_title">Outer</div>
							<div class="sidebar_section_content">
								<ul>
									<li th:each = "c : ${catelist}">
										<a th:href="@{/bottom(cateid=${c.cateid})}" th:text = "${c.name}"></a>
									</li>
								</ul>
							</div>
						</div>
						<!-- Size -->
						<div class="sidebar_section sidebar_options">
							<div class="sidebar_section_content">

								<!-- Option Item -->
								<div class="sidebar_option d-flex flex-row align-items-center justify-content-start">
									<div class="option_image"><img th:src="@{images/option_1.png}" alt=""></div>
									<div class="option_content">
										<div class="option_title">No Returns</div>
										<div class="option_subtitle">No questions asked</div>
									</div>
								</div>
								<!-- Option Item -->
								<div class="sidebar_option d-flex flex-row align-items-center justify-content-start">
									<div class="option_image"><img th:src="@{images/option_2.png}" alt=""></div>
									<div class="option_content">
										<div class="option_title">Free Delivery</div>
										<div class="option_subtitle">On all orders</div>
									</div>
								</div>
								<!-- Option Item -->
								<div class="sidebar_option d-flex flex-row align-items-center justify-content-start">
									<div class="option_image"><img th:src="@{images/option_3.png}" alt=""></div>
									<div class="option_content">
										<div class="option_title">Secure Payments</div>
										<div class="option_subtitle">No need to worry</div>
									</div>
								</div>
								<!-- Option Item -->
								<div class="sidebar_option d-flex flex-row align-items-center justify-content-start">
									<div class="option_image"><img th:src="@{images/option_4.png}" alt=""></div>
									<div class="option_content">
										<div class="option_title">24/7 Support</div>
										<div class="option_subtitle">Just call us</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
				
			</div>
			
			<!--  상품 타임리프 처리 필요  -->
			<div class="row products_container">
				<div class="col">
					
					<!-- Products -->

					<div class="product_grid">

						<!-- Product -->
						
						<div th:each="obj:${obj}" class="product">
							
							<div class="product_image"><a th:href = "@{/itemdetail(itemid=${obj.itemid})}"><img th:src="@{'/images/'}+${obj.image1} + '.jpg'" alt=""></a></div>
							<div class="rating rating_4" data-rating="4">
							</div>
							<div class="product_content clearfix">
								<div class="product_info">
									<div class="product_name" th:text="${obj.name}"><a th:href="@{/product}"></a></div>
									<div class="product_price" th:text="${obj.price}"></div>
								</div>
								<div class="product_options">
									<div class="product_buy product_option"><img src="images/shopping-bag-white.svg" alt=""></div>
									<div class="product_fav product_option">+</div>
								</div>
							</div>
						</div>

					</div>
				</div>
					
			</div>


		</div>
		
		<!-- Sidebar Right -->

		<div class="sidebar_right clearfix">

			<!-- Promo 1 -->
			<div class="sidebar_promo_1 sidebar_promo d-flex flex-column align-items-center justify-content-center">
				<div class="sidebar_promo_image" style="background-image: url(images/sidebar_promo_1.jpg)"></div>
				<div class="sidebar_promo_content text-center">
					<div class="sidebar_promo_title">Grand<span></span></div>
					<div class="sidebar_promo_subtitle">Open</div>
					<div class="sidebar_promo_button"><a href="/">B J B</a></div>
				</div>
			</div>

			<!-- Promo 2 -->
			<div class="sidebar_promo_2 sidebar_promo">
				<div class="sidebar_promo_image" style="background-image: url(images/sidebar_promo_2.jpg)"></div>
				<div class="sidebar_promo_content text-center">
					<div class="sidebar_promo_title">Grand<span></span></div>
					<div class="sidebar_promo_subtitle">Open</div>
					<div class="sidebar_promo_button"><a href="/">B J B</a></div>
				</div>
			</div>
		</div>
			<!-- Newsletter -->

	</div>

<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/styles/bootstrap4/popper.js}"></script>
<script th:src="@{/styles/bootstrap4/bootstrap.min.js}"></script>
<script th:src="@{/plugins/easing/easing.js}"></script>
<script th:src="@{/plugins/parallax-js-master/parallax.min.js}"></script>
<script th:src="@{/plugins/Isotope/isotope.pkgd.min.js}"></script>
<script th:src="@{/plugins/malihu-custom-scrollbar/jquery.mCustomScrollbar.js}"></script>
<script th:src="@{/plugins/jquery-ui-1.12.1.custom/jquery-ui.js}"></script>
<script th:src="@{/js/categories_custom.js}"></script>
