<!DOCTYPE html>
<style>
	.sidebar_section_content>ul>li{
		font-weight:bolder;
	}
</style>
<script>
$(document).ready(function(){
	$('#cart_btn').click(function(){
		var item_id = '[[${itemdetail.itemid}]]';
		var item_num = $('#quantity_input').val();
		var item_color = $('#item_color option:selected').val();
		var item_size = $('#item_size option:selected').val();
		var cust_id = '[[${session.logincust.custid}]]'; 
		$.ajax({
			url : '[[@{/addcart}]]',
			data : {'cust_id' : cust_id, 'item_id' : item_id, 'cnt' : item_num, 'color':item_color, 'size':item_size},
			success : alert("장바구니에 담았습니다.")
		});
	});
	
	$('#liked_btn').click(function(){
		var cust_id = '[[${session.logincust.custid}]]';
		var item_id = '[[${itemdetail.itemid}]]';
		$.ajax({
			url : '[[@{/addliked}]]',
			data : {'cust_id' : cust_id, 'item_id' : item_id},
			success : alert("좋아요~")
		});
	});
});
</script>

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Wish shop project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" th:href="@{/styles/bootstrap4/bootstrap.min.css}">
<link th:href="@{/plugins/font-awesome-4.7.0/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
<link th:href="@{/plugins/malihu-custom-scrollbar/jquery.mCustomScrollbar.css}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" th:href="@{/plugins/jquery-ui-1.12.1.custom/jquery-ui.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/categories.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/categories_responsive.css}">

</head>
<body>

<div class="super_container">

	<!-- Menu -->

	<!-- Home -->

	<!-- Products -->

	<div class="products">
		<div class="container">
			<div class="row">
				<div class="col-12">
					
					<!-- Sidebar Left -->

					<div class="sidebar_left clearfix">
						<!-- Categories -->
						<div class="sidebar_section">
							<div class="sidebar_title">Outer</div>
							<div class="sidebar_section_content">
								<ul>
									<li th:each = "c : ${catelist}">
										<a th:href="@{/outer(cateid=${c.cateid})}" th:text = "${c.name}"></a>
									</li>
								</ul>
							</div>
						</div>
						<!-- Size -->
						<div class="sidebar_section sidebar_options">
							<div class="sidebar_section_content">

								<!-- Option Item -->
								<div class="sidebar_option d-flex flex-row align-items-center justify-content-start">
									<div class="option_image"><img th:src="@{images/option_1.png}" alt=""></div>
									<div class="option_content">
										<div class="option_title">No Returns</div>
										<div class="option_subtitle">No questions asked</div>
									</div>
								</div>
								<!-- Option Item -->
								<div class="sidebar_option d-flex flex-row align-items-center justify-content-start">
									<div class="option_image"><img th:src="@{images/option_2.png}" alt=""></div>
									<div class="option_content">
										<div class="option_title">Free Delivery</div>
										<div class="option_subtitle">On all orders</div>
									</div>
								</div>
								<!-- Option Item -->
								<div class="sidebar_option d-flex flex-row align-items-center justify-content-start">
									<div class="option_image"><img th:src="@{images/option_3.png}" alt=""></div>
									<div class="option_content">
										<div class="option_title">Secure Payments</div>
										<div class="option_subtitle">No need to worry</div>
									</div>
								</div>
								<!-- Option Item -->
								<div class="sidebar_option d-flex flex-row align-items-center justify-content-start">
									<div class="option_image"><img th:src="@{images/option_4.png}" alt=""></div>
									<div class="option_content">
										<div class="option_title">24/7 Support</div>
										<div class="option_subtitle">Just call us</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
				
			</div>
			
			<!-- 상품 -->
			<div class="row product_row">

				<!-- Product 대표 Image -->
				<div class="col-lg-7">
				
					<div class="product_image_detail">
						<div class="product_image_large"><img th:src="@{'/images/'} + ${itemdetail.image1} + '.jpg'" alt=""></div>
					</div>
				</div>
				
				<div class="product_content">
				
				<div class="product_name_detail" th:text = "${itemdetail.name}">jacket</div>
				
				<div class="product_price_detail" th:text = "${itemdetail.price}">price</div>
				
				<!-- In Stock 
						<div class="in_stock_container">
							<div class="in_stock in_stock_true"></div>
							<span>in stock</span>
				</div> -->
				
				<!-- Product Color -->
				<div class="product_color_container">
							<span>Color</span>
							<div class="product_color clearfix">
								<select class="form-control" id="item_color">
							        <option th:each = "pc : ${pocolorlist}" th:value = "${pc.color}" th:text = "${pc.color}">option</option>
							      </select>
							</div>
						</div> 
				
				
				<!-- Product Size -->
						<div class="product_color_container">
							<span>Size</span>
							<div class="product_color clearfix">
								<select class="form-control" id="item_size">
							        <option th:each = "ps : ${posizelist}" th:value = "${ps.size}" th:text = "${ps.size}">option</option>
							      </select>
							</div>
						</div>
							
							
				<!-- Product Quantity -->
						 <div class="product_quantity_container">
							<span>Quantity</span>
							<div class="product_quantity clearfix">
								<input id="quantity_input" type="text" pattern="[0-9]*" value="1">
								<div class="quantity_buttons">
									<div id="quantity_inc_button" class="quantity_inc quantity_control"><i class="fa fa-caret-up" aria-hidden="true"></i></div>
									<div id="quantity_dec_button" class="quantity_dec quantity_control"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
								</div>
							</div>
						</div> 
						
							
				<!-- Product Buttons -->			
					 <div class = "btn">
							<button class="button cart_button" id = "liked_btn"><a th:href="@{/liked(custid=${session.logincust.custid})}">Like</a></button>
							<button class="button cart_button" id = "cart_btn"><a th:href="@{/cart(custid=${session.logincust.custid})}">Cart</a></button>
					</div>
						
				
				</div> 
				
				
				<!-- Description Picture -->
				
				<div class="col-lg-12 datail_image">
				<hr>
					<div class="product_image">
						<div class="product_image_large"><img th:src="@{'/images/'} + ${itemdetail.image2} + '.jpg'" alt=""></div>
					</div>
						<div class="product_description_image">
							<img th:src="@{'/images/'} + ${itemdetail.image3} + '.jpg'">
						</div>
				</div>
			</div>
			
			
		</div>
		
		<!-- Sidebar Right -->

		<div class="sidebar_right clearfix">

			<!-- Promo 1 -->
			<div class="sidebar_promo_1 sidebar_promo d-flex flex-column align-items-center justify-content-center">
				<div class="sidebar_promo_image" style="background-image: url(images/sidebar_promo_1.jpg)"></div>
				<div class="sidebar_promo_content text-center">
					<div class="sidebar_promo_title">Grand<span></span></div>
					<div class="sidebar_promo_subtitle">Open</div>
					<div class="sidebar_promo_button"><a href="/">B J B</a></div>
				</div>
			</div>

			<!-- Promo 2 -->
			<div class="sidebar_promo_2 sidebar_promo">
				<div class="sidebar_promo_image" style="background-image: url(images/sidebar_promo_2.jpg)"></div>
				<div class="sidebar_promo_content text-center">
					<div class="sidebar_promo_title">Grand<span></span></div>
					<div class="sidebar_promo_subtitle">Open</div>
					<div class="sidebar_promo_button"><a href="/">B J B</a></div>
				</div>
			</div>
		</div>
			<!-- Newsletter -->

	</div>

<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/styles/bootstrap4/popper.js}"></script>
<script th:src="@{/styles/bootstrap4/bootstrap.min.js}"></script>
<script th:src="@{/plugins/easing/easing.js}"></script>
<script th:src="@{/plugins/parallax-js-master/parallax.min.js}"></script>
<script th:src="@{/plugins/Isotope/isotope.pkgd.min.js}"></script>
<script th:src="@{/plugins/malihu-custom-scrollbar/jquery.mCustomScrollbar.js}"></script>
<script th:src="@{/plugins/jquery-ui-1.12.1.custom/jquery-ui.js}"></script>
<script th:src="@{/js/categories_custom.js}"></script>
<script th:src="@{/js/product_custom.js}"></script>
